[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/opt/pycharm-community-2018.3.3/bin/pycharm.svg
Exec="/opt/pycharm-community-2018.3.3/bin/pycharm.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
